<div class="login">
    <h1> Student Sign Up Form </h1> 
    <form>  
        <div class="container">   
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Enter username</span>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Enter password</span>
                <input type="text" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
              </div>
              <div class="d-grid gap-2">
                <button type="button" name="" id="" class="btn btn-primary">Sign Up</button>
              </div>
        </div>   
    </form>     
  </div>
