.background-container img
{
    height: 100vh;
    width: 100vw;
    /*background-image: url('../../assets/img/kerala.jpg'); */
    background-color: black;
    background-size: fill;
    background-repeat: no-repeat;
}

.head
{
    font-weight: bolder;
    align-items: center;
    justify-content: center;
    color: black;

}
